{% extends 'layout.html' %}
{% block body %}
	<div>
		<form id="projectInfo" class="form-horizontal" role="form" action="/api/project/create">
	    <div class="container-wide">
	    	<div class="row">
    				<div class="col-lg-8 col-lg-offset-2">
	    				<h1>Step 1 - Choose Media Type</h1>
						  <div class="form-group">
						    <label class="col-sm-2 control-label">Type</label>
						    <div class="col-sm-10">
						      <select name="type" class="form-control">
									  <option>Music</option>
									  <option>Comedy</option>
									  <option>Game</option>
									  <option>Video</option>
									  <option>Text</option>
									</select>
						    </div>
						  </div>
					  </div>
    		</div><!-- /col-lg-8 -->
	    </div> <!-- /container-wide -->

	    <div class="container-wide" id="green">
	    	<div class="row">
    				<div class="col-lg-8 col-lg-offset-2" style="padding-bottom:40px;">
	    				<h1>Step 2 - Input Project Details</h1>
						  <div class="form-group">
						    <label class="col-sm-2 control-label">Project Title</label>
						    <div class="col-sm-10">
						      <input name="title" type="text" class="form-control" placeholder="Title">
						    </div>
						  </div>
						  <div class="form-group">
						    <label class="col-sm-2 control-label">Price($)</label>
						    <div class="col-sm-10">
						      <select name="price" class="form-control">
									  <option>0.00</option>
									  <option>5.00</option>
									  <option>10.00</option>
									</select>
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputPassword3" class="col-sm-2 control-label">Small info</label>
						    <div class="col-sm-10">
						      <input name="info" type="text" class="form-control" id="inputPassword3" placeholder="Info">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
						    <div class="col-sm-10">
						      <textarea name="description" class="form-control" rows="20"></textarea>
						    </div>
						  </div>
						  <div class="form-group">
						    <label class="col-sm-2 control-label">Youtube link</label>
						    <div class="col-sm-10">
						      <input name="videoLink" type="text" class="form-control" placeholder="(Optional)">
						    </div>
						  </div>
					  </div>
    		</div><!-- /col-lg-8 -->
	    </div> <!-- /container-wide -->
		</form>

			<div class="container-wide">
	    	<div class="row">
    				<div class="col-lg-8 col-lg-offset-2">
	    				<h1>Step 3 - Upload project image</h1>
	    				<div>
							  <form style="height:400px;width:100%;border:1px solid" class="dropzone dropzoneImg" id="dropzoneImg">
									<p style="pointer-events: none;">Click or drag project image here<br>(300x300 jpg file)</p>
								</form>
							</div>
					  </div>
    		</div>
	    </div> 



	    <div class="container-wide" style="padding-bottom:50px;">
	    	<div class="row">
    				<div class="col-lg-8 col-lg-offset-2">
	    				<h1>Step 4 - Upload file(s)</h1>
	    				<div>
							  <form style="height:400px;width:100%;border:1px solid" class="dropzone dropzoneImg" id="dropzone">
								</form>

							</div>
					  </div>
    		</div><!-- /col-lg-8 -->
	    </div> <!-- /container-wide -->

	    <div class="container-wide" id="green">
	    	<div class="row">
    				<div class="col-lg-8 col-lg-offset-2">
	    				<h1>Step 5 - Create Your Project</h1>
						  <div class="form-group">
						    <div class="col-sm-offset-0 col-sm-12 centered">
						      <button id="submit" type="submit" class="btn btn-default">Create</button>
						      <p style="font-size:1em;color: #111111;">By clicking create you agree to the terms specified in our <a style="color: #ffffff;" href="/faq" target="_blank">Pricing / FAQ page</a></p>
						    </div>
						  </div>
					  </div>
    		</div><!-- /col-lg-8 -->
	    </div> <!-- /container-wide -->
	</div><!-- /hello -->
{% endblock %}
{% block script %}
<script src="./public/vendor/dropzone/dropzone.js"></script>
<script>

var projectFiles = []
var displayImageID = null

Dropzone.options.dropzone = {
  paramName: "file",
  maxFilesize: 250, // MB
  addRemoveLinks: true,
  uploadMultiple: true,//SHOULD BE TRUE SEE LINE BELOW (THIS STILL DOESNT SEND MULTIPLE FOR SOME REASON)
  //parallelUploads: 1,//this should be unlimited but causes coyote or dropzone error (either me or that dropzoneguy cant code) I WAS RIGHT! THAT STUPD DROPZONE GUY, HATE THAT GUY
  url: "{{coyoteURL}}file/upload?account=niftyKick",
  accept: function(file, done) {
    done();
  },
  successmultiple: function(files, resp, e){
  	console.log(resp)
  	console.log(e)
  	for (var i in files) {
  		var file = files[i]
  		file.fileStoreData = {name:  file.name, id: resp.data.files[i].id}
	  	projectFiles.push(file.fileStoreData)
  	}
  	console.log(projectFiles)
  },
  removedfile: function(file) {
  	if(file.fileStoreData){
  		projectFiles.splice(projectFiles.indexOf(file.fileStoreData), 1);
  		//TODO DELETE FILE FROM COYOTE
  	}
  	console.log(projectFiles)
  	var _ref;
    if ((_ref = file.previewElement) != null) {
      _ref.parentNode.removeChild(file.previewElement);
    }
  }
};

Dropzone.options.dropzoneImg = {
  paramName: "file",
  maxFiles: 1,
  maxFilesize: 1, // MB
  addRemoveLinks: true,
  uploadMultiple: true,
  acceptedFiles: "image/jpeg",
  url: "{{coyoteURL}}file/upload?account=niftyKick&public=true",
  accept: function(file, done) {
    done();
  },
  success: function(file, resp, e){
  	//TODO maybe add multiple support in future as above???
  	file.fileID = resp.data.files[0].id
  	displayImageID = file.fileID
  	file.previewElement.classList.add("dz-success");
  },
  removedfile: function(file) {
  	displayImageID = null
    var _ref;
    if ((_ref = file.previewElement) != null) {
      _ref.parentNode.removeChild(file.previewElement);
    }
  }
};

$("#submit").click(function(){
	var formInfo = $("#projectInfo").serializeArray();
	console.log(formInfo)
	formInfo.push({name: "displayImageID", value: displayImageID})
	formInfo.push({name: "files", value: JSON.stringify(projectFiles)})
	console.log(formInfo)
	//formInfo.files = projectFiles
	$.ajax({
     type: "POST",
     url: "/api/project/create",
     data: $.param(formInfo), 
     success: function(resp)
     {
     	console.log(resp.data)
     	window.location.replace("/project/"+resp.data.id);
     },
     error: function(){
     	showError("Project with that name already exists");
     }
  });
})
</script>
{% endblock %}
{% block css %}
<link href="/public/vendor/dropzone/dropzone.css" rel="stylesheet">
{% endblock %}