{% extends 'layout.html' %}
{% block body %}
	<div>
		<form id="projectInfo" class="form-horizontal" role="form" action="/api/project/create">
	    <div class="container-wide">
	    	<div class="row">
    				<div class="col-lg-8 col-lg-offset-2">
	    				<h1>Step 1 - Choose Media Type</h1>
						  <div class="form-group">
						    <label class="col-sm-2 control-label">Type</label>
						    <div class="col-sm-10">
						      <select name="type" class="form-control">
									  <option>Music</option>
									  <option>Game</option>
									  <option>Video</option>
									</select>
						    </div>
						  </div>
					  </div>
    		</div><!-- /col-lg-8 -->
	    </div> <!-- /container-wide -->

	    <div class="container-wide" id="green">
	    	<div class="row">
    				<div class="col-lg-8 col-lg-offset-2" style="padding-bottom:40px;">
	    				<h1>Step 2 - Input Project Details</h1>
						  <div class="form-group">
						    <label class="col-sm-2 control-label">Project Title</label>
						    <div class="col-sm-10">
						      <input name="title" type="text" class="form-control" placeholder="Title">
						    </div>
						  </div>
						  <div class="form-group">
						    <label class="col-sm-2 control-label">Price($)</label>
						    <div class="col-sm-10">
						      <select name="price" class="form-control">
									  <option>0.00</option>
									  <option>5.00</option>
									  <option>10.00</option>
									</select>
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputPassword3" class="col-sm-2 control-label">Small info</label>
						    <div class="col-sm-10">
						      <input name="info" type="text" class="form-control" id="inputPassword3" placeholder="Info">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
						    <div class="col-sm-10">
						      <textarea name="description" class="form-control" rows="20"></textarea>
						    </div>
						  </div>
						  <div class="form-group">
						    <label class="col-sm-2 control-label">Youtube link</label>
						    <div class="col-sm-10">
						      <input name="videoLink" type="text" class="form-control" placeholder="(Optional)">
						    </div>
						  </div>
					  </div>
    		</div><!-- /col-lg-8 -->
	    </div> <!-- /container-wide -->
		</form>

			<div class="container-wide">
	    	<div class="row">
    				<div class="col-lg-8 col-lg-offset-2">
	    				<h1>Step 3 - Upload project image</h1>
	    				<div>
							  <form style="height:400px;width:100%;border:1px solid" class="dropzone dropzoneImg" id="dropzoneImg">
									<p style="pointer-events: none;">Click or drag project image here<br>(300x300 jpg file)</p>
								</form>
							</div>
					  </div>
    		</div><!-- /col-lg-8 -->
	    </div> <!-- /container-wide -->



	    <div class="container-wide" style="padding-bottom:50px;">
	    	<div class="row">
    				<div class="col-lg-8 col-lg-offset-2">
	    				<h1>Step 4 - Upload file(s)</h1>
	    				<div>
							  <form style="height:400px;width:100%;border:1px solid" class="dropzone dropzoneImg" id="dropzone">
								</form>

							</div>
					  </div>
    		</div><!-- /col-lg-8 -->
	    </div> <!-- /container-wide -->

	    <div class="container-wide" id="green">
	    	<div class="row">
    				<div class="col-lg-8 col-lg-offset-2">
	    				<h1>Step 5 - Create Your Project</h1>
						  <div class="form-group">
						    <div class="col-sm-offset-0 col-sm-12 centered">
						      <button id="submit" type="submit" class="btn btn-default">Create</button>
						    </div>
						  </div>
					  </div>
    		</div><!-- /col-lg-8 -->
	    </div> <!-- /container-wide -->
	</div><!-- /hello -->
{% endblock %}
{% block script %}
<script src="./public/vendor/dropzone/dropzone.js"></script>
<script>

$.ajax({
     type: "POST",
     url: "/api/project/createEmptyProject",
     success: function(resp)
     {
     	DropZoneJS();
			Dropzone.options.dropzone = {
			  paramName: "file",
			  maxFilesize: 1000, // MB
			  addRemoveLinks: true,
			  url: "/api/project/"+resp.data.id+"/fileUpload/",
			  accept: function(file, done) {
			    done();
			  },
			  complete: function(file) {
			  },
			  removedfile: function(file) {
			  	$.ajax({
				     type: "POST",
				     url: "/api/project/"+resp.data.id+"/deleteTempFile",
				     data: {fileName: file.name}, 
				     success: function(resp)
				     {
				     }
				  });
			    var _ref;
	        if ((_ref = file.previewElement) != null) {
	          _ref.parentNode.removeChild(file.previewElement);
	        }
			  }
			};


			Dropzone.options.dropzoneImg = {
			  paramName: "file",
			  maxFiles: 1,
			  maxFilesize: 1, // MB
			  addRemoveLinks: true,
			  acceptedFiles: "image/jpeg",
			  url: "/api/project/"+resp.data.id+"/fileUpload/projectImage/",
			  accept: function(file, done) {
			    done();
			  },
			  complete: function(file) {
			  },
			  removedfile: function(file) {
			  	$.ajax({
				     type: "POST",
				     url: "/api/project/"+resp.data.id+"/deleteTempFile",
				     data: {fileName: file.name, projectImage: true}, 
				     success: function(resp)
				     {
				     }
				  });
			    var _ref;
	        if ((_ref = file.previewElement) != null) {
	          _ref.parentNode.removeChild(file.previewElement);
	        }
			  }
			};
			//WTF WHY DO I NEED THIS????? FUCK DROPZONE DOCS
			Dropzone.discover()

			$("#submit").click(function(){
				var formInfo = $("#projectInfo").serialize();
				$.ajax({
			     type: "POST",
			     url: "/api/project/"+resp.data.id+"/create",
			     data: formInfo, 
			     success: function(resp)
			     {
			     	window.location.replace("/project/"+resp.data.id);
			     }
			  });
			})
     },
     error: function(XMLHttpRequest, textStatus, errorThrown) {
     		alert("Upload server is down");
     		window.location.replace("/");
     } 
   });


</script>
{% endblock %}
{% block css %}
<link href="/public/vendor/dropzone/dropzone.css" rel="stylesheet">
{% endblock %}