{% extends 'layout.html' %}
{% block body %}
	    <div ng-controller="projectDash" class="container-wide">
	    	<div class="row">
	    		<h2>
	    			<div class="col-lg-4">
	    				Your balance: $1000
	    			</div>
	    			<div class="col-lg-4">
	    				Combined sales count: 37
	    			</div>
	    			<div class="col-lg-4">
		    			<div class="btn-green" style="padding: 10px;margin:5px;margin-top:-10px;">Request Payment</div>
		    		</div>
		    	</h2>
	    	</div>
	    	<hr>
	    	<div class="row">
    			<div ng-repeat="project in projects" ng-cloak>
    				<a href="/project/[[project.id]]">
		    			<div class="col-lg-2">
		    				<div class="well" style="height: 300px;overflow:hidden;">
		    				<div class="centered">
		    					<div ng-if="project.displayImage">
				    				<img ng-src="{{coyoteURL}}file/[[project.displayImage]]" style="height:100px;">
				    			</div>
				    			<div ng-if="!project.displayImage">
				    				<img ng-src="/public/custom/img/defaultProjImg.png" style="height:100px;">
				    			</div>
			    				<h4>[[project.type]]</h4>
			    				<h4>[[project.title]]</h4>
				    			<h4>$[[project.price]]</h4>
				    			<h4>[[project.info]]</h4>
			    			</div>			    			
			    			</div>
		    			</div>
	    			</a>
					</div>
	    	</div><!-- /row -->
			</div><!-- /hello -->
{% endblock %}

{% block script %}
<script type="text/javascript">
function projectDash($scope, $http) {

	$scope.projects = [];
  
  $scope.getProjects = function(){

		$http({
		    url: "/api/project/browse",
		    method: "get"
		}).success(function(resp, status, headers, config) {
				console.log(resp.data.projects)
		    $scope.projects = resp.data.projects
		}).error(function(data, status, headers, config) {
			showError("An error has occured please try again later")
		});
		return false;
	}
	$scope.getProjects()

}
</script>
{% endblock %}