{% extends 'layout.html' %}
{% block body %}
	    <div class="container-wide">
	    	<div class="row">
	    		<div class="col-lg-8 col-lg-offset-2">
	    			<h1>Pay only 8% + $0.30 per transaction. No additional costs.</h1>
	    			<p></p>

	    			<h3>Why did you create Nifty Kick?</h3>
	    			<p>As artists we were fed up with the current methods of selling our creations. We created Nifty Kick to make it more intuitive to share our work with the world without breaking the bank.</p>

	    			<h3>Who does this money go to?</h3>
	    			<p>2.9% + 30 cents goes to payment processing powered by <a href="https://stripe.com">Stripe.</a><br>The remainder keeps NiftyKick up and running.</p>

	    			<h3>How do your prices compare to others?</h3>
	    			<p>Other sites charge anywhere from %15 to %30 of each transaction and that doesn't even include payment processing fees. Let us know if you find any cheaper alternatives.</p>

	    			<h3>How do I get paid?</h3>
	    			<p>We will mail you a check within a month of payment request if your owed amount is over $50.</p>

						<h3>How do I get a job working for Nifty Kick?</h3>
	    			<p>We are always looking for great talent! Send an email with your resume to niftykick@gmail.com</p>

	    			<h3>Will Bitcoin ever be accepted on NiftyKick?</h3>
	    			<p>We have plans to allow Bitcoin as a payment method in the future.</p>

	    			<h3>How do I contact the great people of Nifty Kick?</h3>
	    			<p>You can reach us at niftykick@gmail.com</p>

	    		</div><!-- /col-lg-8 -->
	    	</div><!-- /row -->
	    </div> <!-- /container-wide -->
{% endblock %}
