<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/public/custom/css/style.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/vendor/bootstrap/css/main.css" rel="stylesheet">
    <link href="/public/vendor/bootstrap/css/font-awesome.min.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-static-top">
      <div class="container-wide">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{title}} <i style="font-size:1.0em" class="fa fa-gamepad"></i></a>
        </div>
        <div class="navbar-collapse collapse">
        	<ul class="nav navbar-nav">
            <li class="active"><a href="#contact">Browse</a></li>
            <li class="active"><a href="#contact">Create</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#contact">Sign Up</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


	<div id="hello">
	    <div class="container-wide">
	    	<div class="row">
	    		<div class="col-lg-8 col-lg-offset-2 centered">
	    			<h1>Support great things!</h1>
	    			<h2>Get digital goods</h2>
	    		</div><!-- /col-lg-8 -->
	    	</div><!-- /row -->
	    </div> <!-- /container-wide -->
	</div><!-- /hello -->
	
	<div id="green">
		<div class="container-wide">
			<div class="row">
				<div class="col-lg-5 centered">
					<img src="/public/vendor/bootstrap/img/iphone.png" alt="">
				</div>
				
				<div class="col-lg-7 centered">
					<h3>WHAT WE DO?</h3>
					<p>We create an easy way to buy, manage and sell digital goods online.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-wide">
		<div class="row centered mt grid">
			<h3>Recent Projects</h3>
			<div class="mt"></div>
			<div class="col-lg-4">
				<a href="#"><img src="/public/vendor/bootstrap/img/01.jpg" alt=""></a>
			</div>
			<div class="col-lg-4">
				<a href="#"><img src="/public/vendor/bootstrap/img/02.jpg" alt=""></a>
			</div>
			<div class="col-lg-4">
				<a href="#"><img src="/public/vendor/bootstrap/img/03.jpg" alt=""></a>
			</div>
		</div>
		
		<div class="row centered mt grid">
			<div class="mt"></div>		
			<div class="col-lg-4">
				<a href="#"><img src="/public/vendor/bootstrap/img/04.jpg" alt=""></a>
			</div>
			<div class="col-lg-4">
				<a href="#"><img src="/public/vendor/bootstrap/img/05.jpg" alt=""></a>
			</div>
			<div class="col-lg-4">
				<a href="#"><img src="/public/vendor/bootstrap/img/06.jpg" alt=""></a>
			</div>
		</div>
	</div>


	<div id="f">
		<div class="container-wide">
			<div class="row">
				<p style="float:left;">Site By Trevor Baron</p> <p>Bootsrap theme by BlackTie.co.</p>
			</div>
		</div>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/public/vendor/bootstrap/js/bootstrap.js"></script>
  </body>
</html>