{% extends 'layout.html' %}
{% block body %}
	<div id="hello" style="padding-bottom: 40px;padding-top: 180px;">
	    <div class="container-wide">
	    	<div class="row">
	    		<div class="col-lg-8 col-lg-offset-2 centered">
	    			<h1>Support great things!</h1>
	    			<h2>Get digital goods</h2>
	    		</div><!-- /col-lg-8 -->
	    	</div><!-- /row -->
	    </div> <!-- /container-wide -->
	</div><!-- /hello -->
	<div class="container-wide">
		<div class="row" style="padding-top: 0px;padding-bottom: 40px;">
				<div class="col-lg-4 col-lg-offset-8">
					
						<div class="grid centered" style="min-height: 235px">
							<hr style="height:3px;border:none;color:#ccc;background-color:#ccc;margin:0px;">
							<a class="row" href="/project/1">
								<div class="col-lg-6" style="width:280px;">
								<img src="https://niftykick.com/fileServer/file/1" style="width:180px">
								</div>
								<div class="col-lg-6">
								<h2>Out Now!</h2>
								<h2 style="color: #B36E6E">Coyote Fairgrounds EP</h2>
								</div>
							</a>
							<hr style="height:3px;border:none;color:#ccc;background-color:#ccc;margin:0px;">
						</div>
					
				</div>
		</div>
	</div>
	<div id="green">
		<div class="container-wide">
			<div class="row">
				<div class="col-lg-5 centered">
					<i style="font-size:7.0em" class="fa fa-rocket fa-inverse"></i>
				</div>
				
				<div class="col-lg-7 centered">
					<h3>WHAT WE DO?</h3>
					<p>We create an easy way to buy, manage and sell digital goods online.</p>
				</div>
			</div>
		</div>
	</div>
	
	<!-- <div class="container-wide">
		<div class="row centered mt grid" style="padding-bottom: 40px;">
			<h3>Featured Projects Coming Soon!</h3>
			<div class="mt"></div>
			<div class="col-lg-4">
				<a href="#"><img src="/public/vendor/bootstrap/img/01.jpg" alt=""></a>
			</div>
			<div class="col-lg-4">
				<a href="#"><img src="/public/vendor/bootstrap/img/02.jpg" alt=""></a>
			</div>
			<div class="col-lg-4">
				<a href="#"><img src="/public/vendor/bootstrap/img/03.jpg" alt=""></a>
			</div>
		</div>
	</div> -->


	<div id="f">
		<div class="container-wide">
			<div class="row">
				<p style="float:left;"><a style="color: #ffffff;" href="/faq">Pricing / FAQ</a><!--Site By Trevor Baron--></p> <p>Bootsrap theme by BlackTie.co.</p>
			</div>
		</div>
	</div>
{% endblock %}