{% extends 'layout.html' %}
{% block body %}
	    <div class="container-wide">
	    	<div class="row">
	    		<div class="col-lg-8 col-lg-offset-2">
	    			<h1>{{project.title}}</h1>
	    			<h4>${{project.price}}</h4>
	    			<h4>{{project.info}}</h4>
	    			<h4>{{project.type}}</h4>
	    			<h4>{{project.description}}</h4>
	    			<h4>{{project.id}}</h4>
	    			<img src="/project/{{project.id}}/image">
	    		</div><!-- /col-lg-8 -->
	    	</div><!-- /row -->
			</div><!-- /hello -->
{% endblock %}