{% extends 'layout.html' %}
{% block body %}
	    <div class="container-wide">
	    	<div class="row">
	    		<div class="col-lg-8 col-lg-offset-2">
	    			<h1>{{project.type}}: {{project.title}}</h1>

	    			{% if project.price != '0' %}
	    				<a href="/"><div class="btn-green" style="margin-bottom: 15px"><i class="fa fa-shopping-cart"></i> ${{project.price}} Get It Now!</div></a>
	    			{% else %}
	    				<div class="alert alert-success" style="margin-bottom: 15px; cursor: default;"> This project is free! Download files below.</div>
	    			{% endif %}

	    			<br>
	    			<img src="/api/project/{{project.id}}/image" style="height:300px">
	    			<h2>Info</h2>
	    			<h4>{{project.info}}</h4>
	    			<h2>Description</h2>
	    			<h4>{{project.description | escape |replace('\n', "<br>", 'g')|raw}}</h4>

	    			<h2>Files: </h2>
	    			{% for file in files %}
	    				<li>{{file.name}}
	    					{% if project.price == '0' %}
	    						<a href="/api/file/{{file.id}}/download"><div class="btn-green" style="padding: 2px">Download Now</div></a>
	    					{% endif %}
	    				</li>
	    			{% endfor %}
	    		</div><!-- /col-lg-8 -->
	    	</div><!-- /row -->
			</div><!-- /hello -->
{% endblock %}